@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

:root {
  --clr-body-bg: #040818;
  --clr-overlay-bg: #040818a8;
  --clr-main: #182848;
  --clr-form: #7898d8;
  --clr-text-light: #c8d8e8;
  --clr-button-bg: #1f3f1f;
  --clr-button-text: #c0e6ac;
  --clr-glow: #cfef5f;
  --clr-hover: #160612;
  --clr-star: #7f002f;
}

html {
  box-sizing: border-box;
  font-size: 18px;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  line-height: 1.1rem;
}

body {
  width: 100%;
  font-family: "Schoolbell", cursive;
  background-color: var(--clr-body-bg);
  color: var(--clr-form);
  display: grid;
  grid-template-rows: 100vh auto auto;
  overflow: hidden;
}

body.push {
  overflow: auto;
}

header {
  width: 100%;
  background-image: url("./image/mountaineering-g25060b636_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 48% top;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

header span {
  position: absolute;
}

header div {
  background-color: var(--clr-overlay-bg);
}

header div:first-of-type {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

header div:first-of-type h1 {
  margin-left: 0.75rem;
  font-size: 4.5rem;
  letter-spacing: 0.2rem;
}

header div:last-of-type {
  align-self: end;
  margin-bottom: 0.75rem;
  padding: 0.1rem 0;
  text-align: center;
  font-size: 0.8rem;
  color: var(--clr-text-light);
}

header div:last-of-type p a:link {
  color: var(--clr-text-light);
}

header div:last-of-type p a:visited {
  color: var(--clr-form);
}  

header div:last-of-type p a:hover {
  color: var(--clr-hover);
}  

main {
  width: 100%;
  background-color: var(--clr-main);
}    

section:first-of-type {
  width: calc(100% - 8px);
  margin-top: 0.5rem;
  padding: 0 0 0.5rem 4.0rem;
  color: var(--clr-text-light);
}

section:first-of-type div:last-of-type p:first-of-type {
  font-size: 1.2rem;
}

section:first-of-type div:last-of-type p:last-of-type {
  font-size: 0.8rem;
}

section:last-of-type {
  width: calc(100% - 8px);
  background-color: var(--clr-form);
  color: var(--clr-main);
  box-shadow: 4px 4px 6px var(--clr-body-bg);
  padding: 1.25rem 0 0.75rem 0.3rem;
  margin-bottom: 0.75rem;
}

section:last-of-type > p {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.25rem;
}

form {
  width: 99%;
}

form > p {
  font-size: 0.8rem;
  margin-top: 0.3rem;
}

span[aria-label="required"] {
  color: var(--clr-star);
}

fieldset {
  position: relative;
  padding: 1.0rem 0.5rem 0.5rem 0.5rem;
  border: 2px groove var(--clr-body-bg);
  display: grid;
}

fieldset + fieldset {
  margin-top: 1.25rem;
}

fieldset:last-of-type {
  grid-template-columns: 80% auto;
}

legend {
  position: absolute;
  top: -0.7rem;
  right: 0.35rem;
  background-color: var(--clr-main);
  color: var(--clr-text-light);
  font-size: 0.9rem;
  padding: 0.15rem 0.3rem;
  border-radius: 12px;
}  

label {
  font-variant: small-caps;
  font-size: 1.1rem;
  height: 4.5rem;
}

input {
  display: block;
  border: none;
  border-bottom: 1px solid var(--clr-body-bg);
  background-color: var(--clr-form);
  font-family: inherit;
  font-size: 1.1rem;
  padding-left: 0.25rem;
}

fieldset:first-of-type input {
  width: 90%;
}

fieldset:last-of-type input {
  width: 98%;
}

input:focus, button:focus {
  outline: none;
  box-shadow: -1px -1px 5px 1px var(--clr-button-bg),
  1px -1px 5px 1px var(--clr-button-bg),
  -1px 1px 5px 1px var(--clr-button-bg),
  1px 1px 5px 1px var(--clr-button-bg);
}

input::placeholder {
  color: var(--clr-text-light);
}

ul {
  grid-column: 1 / 3;
  list-style-type: none;
  font-size: 0.8rem;
  margin-left: 0.2rem;
  margin-bottom: 0.5rem;
}

li {
  padding-right: 0.2rem;
}

li::before {
  content: '\2718';
  color: var(--clr-star);
  margin-right: 0.3rem;
}

li.passed::before {
  content: "\2714";
  color: var(--clr-button-bg);
}

fieldset:last-of-type input {
  font-family: sans-serif;
}

input[type="password"]::-ms-reveal {
  display: none;
}

.validation-message {
  display: block;
  font-size: 0.8rem;
  color: var(--clr-star);
  line-height: 0.8rem;
}

fieldset:first-of-type .validation-message {
  width: 88%;
}

fieldset:last-of-type .validation-message {
  width: 96%;
}

button[type="button"] {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  align-self: center;
  justify-self: center;
  cursor: pointer;
  background-color: var(--clr-button-bg);
  font-size: 1.75rem;
  width: 3.0rem;
  height: 3.0rem;
}

button[type="submit"] {
  cursor: pointer;
  margin-top: 0.75rem;
  background-color: var(--clr-button-bg);
  color: var(--clr-button-text);
  font-family: inherit;
  font-size: 1.5rem;
  padding: 0.75rem 0.5rem;
}

button[type="submit"]:hover {
  color: var(--clr-glow);
}

.status-visibility {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
}

footer {
  width: 100%;
  background-color: var(--clr-main);
  color: var(--clr-text-light);
  padding: 0 0.5rem;
  display: grid;
  grid-template-rows: 1.75rem 1.75rem auto;
  text-align: center;
  align-items: end;
}

footer p:nth-of-type(2) a:any-link {
  background-color: var(--clr-main);
  color: var(--clr-text-light);
  text-decoration-line: none;
  padding: 0 0.5rem;
  border-radius: 18px;
  box-shadow: 1px 1px 8px var(--clr-button-text);
}

footer p:nth-of-type(2) a:hover {
  background-color: var(--clr-hover);
  color: var(--clr-glow);
  box-shadow: 1px 1px 8px var(--clr-glow);
}

footer p:last-of-type {
  font-size: 0.7rem;
  justify-self: end;
}

footer p:last-of-type a:link {
  color: var(--clr-text-light);
}

footer p:last-of-type a:visited {
  color: var(--clr-form);
}

footer p:last-of-type a:hover {
  color: var(--clr-hover);
}

@media screen and (499px < width < 800px) {

  section:first-of-type {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
  }

  fieldset:first-of-type {
    grid-template-columns: 1fr 1fr;
  }

  fieldset:last-of-type {
    grid-template-columns: 1fr 3.6rem 1fr;
  }

  ul {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    align-self: center;
  }

  label {
    height: 4.8rem;
  }

  button[type="button"] {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    align-self: center;
    justify-self: center;
  }

}

@media screen and (min-width: 800px) and (min-height: 800px) {

  body {
    width: min(1300px, 100%);
    margin: 0 auto;
    grid-template-columns: 100% 0;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
  }

  body.push {
    transition: all 600ms ease-out;
    grid-template-columns: 37% 63%;
    overflow: auto;
  }

  header {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    height: 100vh;
  }

  main {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: 88vh;
    display: grid;
    grid-template-rows: 1fr auto;
    align-items: end;
    font-size: 0;
    opacity: 0;
  }

  main.push {
    transition: all 600ms ease-in;
    font-size: 100%;
    opacity: 1;
  }

  section:first-of-type {
    padding-left: 2.0rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
  }

  text-light {
    padding-left: 2.0rem;
  }

  fieldset:first-of-type {
    grid-template-columns: 1fr 1fr;
  }

  fieldset:last-of-type {
    grid-template-columns: 1fr 3.6rem 1fr;
  }

  ul {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    align-self: center;
  }

  label {
    height: 4.8rem;
  }

  button[type="button"] {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    align-self: center;
    justify-self: center;
  }

  footer {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 0;
    opacity: 0;
    height: 12vh;
  }

  footer.push {
    transition: all 600ms ease-in;
    font-size: 100%;
    opacity: 1;
  }

}              
